:root {
  --text-primary: #0e76bc;
  --bg-primary: #0068ac;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* HEADER ELEMENTS */
.container {
  max-width: 1170px;
  margin: auto;
}

.navcontainer {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 10vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  height: 100%;
  max-width: 1170px;
  /* min-width: 60%; */
  margin: auto;
  z-index: 1;
}

.navlogo {
  flex: 1 1;
}

.navlinks {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 0;
}

.navlinks li {
  list-style: none;
  margin-right: 15px;
  font-weight: bold;
}

.navlinks li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.navlinks li a:hover {
  color: var(--text-primary);
}

.navlogo {
  margin: auto 0;
}

.hero {
  height: 90vh;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-image {
  margin-bottom: 30px;
}

.hero-text,
.hero-image {
  text-align: center;
}

.desc {
  font-size: 15px;
  color: #414042;
  margin: 0;
}

.registration-fee {
  font-size: 15px;
  color: #000000;
  margin: 0;
}

.event-details {
  font-size: 18px;
  margin: 0;
  color: #0e76bc;
}

.register {
  display: inline-block;
  margin-top: 15px;
  background: none;
  border: 2px solid #39b54a;
  padding: 8px 20px;
  color: #0e76bc;
  font-weight: bold;
  cursor: pointer;
}

.register:hover {
  text-decoration: none;
}

#sign-up {
  min-height: 90vh;
  background-color: var(--bg-primary);
  color: #ffffff;
}

.section-title {
  font-size: 30px;
}

.form-container {
  max-width: 50%;
  min-width: 400px;
  margin: auto;
  text-align: center;
  padding: 30px 0;
}

.register-head p {
  margin-bottom: 30px;
}

input.input {
  width: 100%;
  display: inline-block;
  padding: 10px;
  height: 48px;
}

select {
  width: 100%;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  color: var(--text-primary);
  height: 48px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-primary);
  opacity: 0.8;
  font-weight: bold;
}

option {
  color: var(--text-primary);
  opacity: 0.8;
  font-weight: bold;
}

.terms-link {
  font-size: 11px;
  color: #ffffff;
  text-decoration: none;
}

.add-icon {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  background-color: #0e76bc;
  height: 40px;
  width: 40px;
}

.add {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-auto-flow: column;
  width: 100%;
  grid-gap: 15px;
}

.submit-btn {
  background: #39b54a;
  border: none;
  padding: 8px 40px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-disabled {
  background: gray;
  border: none;
  padding: 8px 40px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.error {
  display: inline-block;
  color: red;
  text-align: left;
  font-size: 12px;
  margin: 0;
}

/* MEDIA QUERIES */
